$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$background-color: #eae;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

a {
  color: black;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}
