.menu {
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 0;
  cursor: grab;
  line-height: 22px;
  z-index: 999;

  .entry {
    display: flex;
  }
  .sections {
    padding-left: 1.5rem;
  }
}
